<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

    <select id="listUserInfo" parameterType="pd" resultType="com.smu.stock.entity.User">
      select * from user
    </select>

    <select id="getUserInfo" parameterType="pd" resultType="com.smu.stock.entity.User">
      select * from user
      <where> 1 = 1
          <if test="userName!=null and userName!=''">
              AND username = #{userName}
          </if>
      </where>
      limit 1
    </select>

</mapper>